@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.5;
    color: #494c57;
    text-align: left;
    background-color: #EAEAEA; }

div#content {
    background-color: #FFF;
}


/* Extra large devices (large desktops, 1200px and up) */
@media screen and (max-width: 1200px) {
}

/* Large devices (desktops, 992px and up) */
@media screen and (max-width: 992px) {
}

/* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 576px) {
}